fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
google-cloud-pubsub
google-cloud-storage
google-cloud-workflows
pytest
pytest-asyncio
sqlalchemy-utils
passlib[bcrypt]
python-jose[cryptography]
jinja2
pandas
python-multipart
httpx
